/* CSS */

/* paragraph CSS */
p {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    }
    
    /* Master of Wisdom paragraph CSS */
    p.masterOfWisdom {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    }
    
    /* Brand Logo Icon CSS */
    i.large.material-icons {
    font-size: 60px;
    }
    
    /* header CSS */
    h1 {
    font-family: 'Dancing Script', cursive;
    }
    
    /* img CSS */
    img.responsive-img {
    max-width: 50%;
    height: auto;
    float: right;
    margin-left: 1rem;
    }